* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@font-face {
   font-family: cenScBk;
   src: url(CENSCBK.TTF);
   font-weight: 400;
}

@font-face {
   font-family: NiaSol;
   src: url(NIAGSOL.TTF);
   font-weight: 400;
}

html {
   font-size: 16px;
   font-family: 'cenScBk', serif;
}

body {
   width: 100%;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
   font-family: 'NiaSol', serif;
   width: 100%;
   font-weight: 100;
   transform: scale(1.25, 1);
   width: 80% /* Countering the scale of 125% */
}

h1 {
   text-align: center;
   margin: 0 auto;
   font-size: 8rem;
   color: cornsilk;
}

header, .between, .parallax {
   width: 100%;
}

header {
   height: 100vh;
   background-color: black;
}

header #niels {
   position: relative;
   top: -100px;
   left: 100px;
   height: 100vh;
}

.between {
   height: 600px;
   background-color: indianred;
   position: relative;
}

.parallax {
   height: 300px;
   background-color: aquamarine;
   position: relative;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;
   background-attachment: fixed;
   overflow: hidden;
}

#album {
   background-color: none;
   background-image: url(../image/debut_album_bg.jpg);
   display: flex;
   justify-content: center;
   align-items: center;
   color: #382d35;
}

#album .textBox {
   width: 270px;
   display: block;
}

#album .firstChild {
   text-align: center;
   margin-right: 3rem;
}

#album .lastChild {
   margin-left: 3rem;
}

#album .firstChild h2 {
   font-size: 4rem;
   letter-spacing: 5px;
   line-height: 0.8;
}

#album .firstChild p {
   font-size: 0.8rem;
   font-weight: bold;
}

#albumLogo {
   height: 25px;
}

#album #albumFace {
   height: 275px;
}
